<!DOCTYPE html>
<!---This is an HTML document--->
<html>
<head>
  <title>Caitlin's Notes</title>
  <link rel="stylesheet" href="caitlin-style.css">
</head>
<body>
  <div class="TOC">
    <h1><b>Table of Contents</b></h1>
    <ol>
      <li><a href="#lesson-1">Lesson 1: The Basics of the Web and HTML</a>
        <ul>
          <li><a href="#lesson-1-1">The World Wide Web</a></li>
          <li><a href="#lesson-1-2">HTML</a></li>
          <li><a href="#lesson-1-3">Tags and Elements</a></li>
          <li><a href="#lesson-1-4">Inline and Block Elements</a></li>
        </ul>
      </li>
      <li class="TOC-lesson"><a href="#lesson-2">Lesson 2: Creating a Structured Document with HTML</a>
        <ul>
          <li><a href="#lesson-2-1">Important Concepts</a></li>
          <li><a href="#lesson-2-2">Tree-Like Structure</a></li>
          <li><a href="#lesson-2-3">Text Editors</a></li>
        </ul>
      </li>
      <li class="TOC-lesson"><a href="#lesson-3">Lesson 3: Adding CSS Style to HTML Structure</a>
        <ul>
          <li><a href="#lesson-3-1">Avoiding Repetition</a></li>
          <li><a href="#lesson-3-2">CSS and How it Works</a></li>
        </ul>
      </li>
    </ol>
  </div>
  <div class="lesson">
 <h1 id="Lesson-1"><b>Lesson 1: The Basics of The Web and HTML</b></h1>
 </div>
 <div class="concept" id="lesson-1-1">
      <div class="concept-title">
      
  <h2><b>The World Wide Web</b> </h2>
    </div> 
    
    <div class="concept-description">
    
    <p>The world wide web is a make up of HTML documents. Each computer browser comunicates with servers through a protocol called HTTP or Hypertext Transfer Protocol. HTTP is used by computers to communicate across the world wide web. 
    <a href="https://www.udacity.com/course/viewer#!/c-ud721/l-3508959201/e-48329854/m-48480496">This video</a> breaks down the process of communication between browsers and servers in an easy to understand fashion. </p> 
</div>
  </div>

 
  <div class="concept" id="lesson-1-2">
      <div class="concept-title">
  <h2><b>HTML</b></h2>
  </div>
  
      <div class="concept-description">
 <p>HTML means Hypertext Markup language. HTML is made up of text content ("what you see"), mark up 
 ("what it looks like"), references to other  documents (such as images or videos),and links to other pages. <a href="https://www.udacity.com/course/viewer#!/c-ud721/l-3508959201/m-48724340">Click here</a> to see a reference 
   to HTML.
 </p>
 </div>
 </div>
 <div class="concept" id="lesson-1-3">
      <div class="concept-title">
      
  <H2><b>Tags and Elements </b></h2>
  </div>
     <div class="concept-description">
 <p>HTML markup is made up of tags. Tags are like keywords that tell a web page how to show content. HTML documents are made up of HTML <b>elements</b>. An element is everything from the opening tag to the closing tag.
 </p>
 </div>
 <div class="concept" id="lesson-1-4">
      <div class="concept-title">
 <h2><b>Inline and Block Elements</b></h2>
 </div>
 
  <div class="concept-description">
 
 <p>An <b>Inline</b> element is an element that takes up only the space needed. A <b>Block</b> element creates a sort of invisible box around the text that is being tagged. An example of a block element is the P tag, or paragraph tag, which creates a space before and after the text that is written.
 </p>
 </div>
 </div>
 <div class="lesson">
    <h1 id="lesson-2"><b> Lesson 2: Creating a Structured Document With HTML </b>    </h1>
 </div>
 <div class="concept" id="lesson-2-1">
      <div class="concept-title">
 <h2><b>Important Concepts</b></h2>
 </div>
 
 <div class="concept-description">
 <p> HTML and CSS are both languages. HTML controls the structure of a webpage. CSS controls the style of a page. When programmers talk about the "DOM" or Document Object Model, they are talking about the tree-like structure of a page. HTML consists of boxes. All of your content will be inside of a box. We use the div tag to seperate our boxes.
 </p>
 </div>
 </div>
    <div class="concept" id="lesson-2-2">
      <div class="concept-title">
  <h2><b> Tree-Like Structure</b></h2>
    </div>
     <div class="concept-description">
    <p>HTML is made up of a tree like structure or a branching structure consisting of opening and closing tags. For example you have a div tag which seperates all of your boxes that contain your content. Then you have your header and p (paragraph) tag branching off of your div tag. Within your header tag you have   your text. Within your p tag you have your text, img (image) tag, and so on.
     </p>
    </div>
    </div>
    
     <div class="concept" id="lesson-2-3">
      <div class="concept-title">
    <h2><b>Text Editors</b></h2>
    </div>
      <div class="concept-description">
      <p> Text editors are used by programmers to write HTML documents and other code.
      <p>
      </div>
     </div>
     
     <div class="lesson">
    <h1 id="lesson-3"><b>Lesson 3: Adding CSS Style and HTML Structure</b></h1>
   </div>
     <div class="concept" id="lesson-3-1">
      <div class="concept-title">
     <h2>Avoiding Repetition</h2>
     </div>
        <div class="concept-description">
       <p>Avoiding repition is important in all aspects of programming. It is very important when writing CSS code because you don't want to have to copy and paste for every area of your web page to make the style look the same.</p>
       </div>
       </div>
        <div class="concept" id="lesson-3-2">
      <div class="concept-title">
     <h2>CSS and How it Works</h2>
     </div>
     
     <div class="concept-description">
     
       <p>CSS stands for <b>Cascading Style Sheets.</b> CSS is code written to control the "style of HTML.One of the key features in CSS is <b>inheritance</b>. Inheritance depends on the tree-like structure of HTML. Elements within HTML inherit text-like properties such as color, fomt, text-indent, letter spacing, etc. To make a font bold in CSS you select font-weight. Whatever style you put in CSS should reflect on your html document. A <b> selector</b> defines what a specific HTML tag will apply to. </p>
           </div>
         </div> 
        </div>
       </body>
 </html>